<div *ngIf="selectedCliente">

  <h2>{{selectedCliente.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedCliente.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedCliente.name" placeholder="name"/>
    </label>
  </div>

</div>

<h2>Mis Clientes</h2>
<ul class="clientes">
  <li *ngFor="let cliente of clientes" 
  [class.selected]="cliente === selectedCliente"
  (click)="onSelect(cliente)">
    <span class="badge">{{cliente.id}}</span> {{cliente.name}}
  </li>
</ul>


