<h2>Mis Clientes</h2>

<ul>
  <span>ID </span>Nombre NIF
</ul>

<table class="tablaClientes">
  <tr>

    <td>ID</td>

    <td>Nombre</td>

    <td>NIF</td>

  </tr>

  <!-- <ul class="clientes"> -->
    <tr *ngFor="let cliente of clientes" 
    [class.selected]="cliente === selectedCliente"
    (click)="onSelect(cliente)">
      <td>{{cliente.id}}</td>
      <td>{{cliente.name}}</td>
      <td>{{cliente.nif}}</td>
    </tr>

</table>

<!-- <ul class="clientes">
  <li *ngFor="let cliente of clientes" 
  [class.selected]="cliente === selectedCliente"
  (click)="onSelect(cliente)">
    <span class="badge">{{cliente.id}}</span> {{cliente.name}} {{cliente.nif}}
  </li>
</ul> -->

<app-cliente-detalle [cliente]="selectedCliente"></app-cliente-detalle>


